<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #0b41f4" href="/"><strong>IRMIS</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" style="color: #0b41f4" href="/products/new">Make a New Application</a>
                    </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link" style="color: #c5caf7" href="/rand">Random Numbers</a>
                </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: #0b41f4" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Look up Medicines
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/products?status=approved">Registered Pharmaceutical
                                    Products</a>
                            </li>
                            <li><a class="dropdown-item" href="/r/humanitarian">Medicines Authorized for use in
                                    National Health Programs</a></li>
                            <li><a class="dropdown-item" href="/products?status=review">Dossiers under review</a></li>
                            <li><a class="dropdown-item" href="/products?status=suspended">Suspended Products</a></li>
                            <li><a class="dropdown-item" href="/products?status=rejected">Rejected Products</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: #666669" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Medical Devices
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/r/registered_devices">Approved Devices</a></li>
                        <li><a class="dropdown-item" href="/r/review_devices">Device dossiers under review</a>
                        </li>
                        <li><a class="dropdown-item" href="/r/rejected_devices">Suspended devices</a></li>
                    </ul>
                </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #f40404" href="#">Review Product Alerts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>


                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="enter product name"
                            aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                    <!-- method: POST product name = "entered text" as product to ?/redditData    2??? 
                so that e.g. "gistflox" in de rr/url terechtkomt-->



                </ul>
            </div>
        </div>
    </nav>
</div>