<% layout('layouts/boilerplate')%>

    <div class="container mt-3">

        <h1>Add a new EOI Product</h1>
        <p style="color:rgba(63, 63, 65, 0.648)"></p>
        <form action="/eoiProducts" method="POST">
            <p><a style="float: right" target="blank" href="https://www.whocc.no/atc_ddd_index/">*ATC Code Index</a>
            </p>
            <div class="mb-2"><label class="form-label" for="indication">Therapeutic Area</label>
                <select class="form-control" id="indication" name="indication">
                    <option value="">--Select--</option>
                    <option value="COVID-19">COVID-19</option>>
                    <option value="diarrhoeal disease">diarrhoeal disease</option>
                    <option value="ebola virus disease">ebola virus disease</option>
                    <option value="hepatitis B and C">hepatitis B and C</option>
                    <option value="HIV/AIDS">HIV/AIDS</option>
                    <option value="infections in newborn and young infants and childhood pneumonia">infections in
                        newborn and young infants and childhood pneumonia</option>
                    <option value="influenza">influenza</option>
                    <option value="malaria">malaria</option>
                    <option value="neglected tropical diseases">neglected tropical diseases</option>
                    <option value="reproductive health">reproductive health</option>
                    <option value="tuberculosis">tuberculosis</option>
                    <option value="other">other</option>
                </select>
            </div>

            <div class="mb-2"><label class="form-label" for="atcCode">ATC Code</label>
                <input class="form-control" type="text" id="atcCode" name="atcCode"
                    placeholder="use link top of page to search">
            </div>


            <div class="mb-2">
                <label class="form-label" for="name" class="form-label">INN Name</label>
                <input class="form-control" list="generics" id="name" name="name" required
                    placeholder="Type to search...">
                <datalist id="generics">
                    <option value="abacavir">
                    <option value="abacavir + lamivudine">
                    <option value="abacavir + lamivudine + lopinavir + ritonavir">
                    <option value="abemaciclib">
                    <option value="abiraterone">
                    <option value="acetazolamide">
                    <option value="acetic acid">
                    <option value="acetylcysteine">
                    <option value="acetylsalicylic acid">
                    <option value="aciclovir">
                    <option value="aclidinium">
                    <option value="activated charcoal">
                    <option value="adalimumab">
                    <option value="afatinib">
                    <option value="albendazole">
                    <option value="alcohol based hand rub">
                    <option value="alcuronium">
                    <option value="all-trans retinoic acid">
                    <option value="allopurinol">
                    <option value="alteplase">
                    <option value="amidotrizoate">
                    <option value="amikacin">
                    <option value="amiloride">
                    <option value="amiodarone">
                    <option value="amitriptyline">
                    <option value="amlodipine">
                    <option value="amodiaquine">
                    <option value="amodiaquine + sulfadoxine + pyrimethamine">
                    <option value="amoxicillin">
                    <option value="amoxicillin + clavulanic acid">
                    <option value="amphotericin B">
                    <option value="ampicillin">
                    <option value="anakinra">
                    <option value="anastrozole">
                    <option value="anidulafungin">
                    <option value="anti-d immunoglobulin">
                    <option value="anti-rabies immunoglobulin">
                    <option value="anti-rabies virus monoclonal antibodies">
                    <option value="anti-tetanus immunoglobulin">
                    <option value="antirabies hyperimmune serum">
                    <option value="antivenom immunoglobulin">
                    <option value="antivenom sera">
                    <option value="apixaban">
                    <option value="aprepitant">
                    <option value="arsenic trioxide">
                    <option value="artemether">
                    <option value="artemether + lumefantrine">
                    <option value="artesunate">
                    <option value="artesunate + amodiaquine">
                    <option value="artesunate + mefloquine">
                    <option value="artesunate + pyronaridine tetraphosphate">
                    <option value="ascorbic acid">
                    <option value="asparaginase">
                    <option value="atazanavir">
                    <option value="atazanavir + ritonavir">
                    <option value="atenolol">
                    <option value="atezolizumab">
                    <option value="atorvastatin">
                    <option value="atracurium">
                    <option value="atropine">
                    <option value="azacitidine">
                    <option value="azathioprine">
                    <option value="azithromycin">
                    <option value="aztreonam">
                    <option value="barium sulfate">
                    <option value="bcg vaccine">
                    <option value="beclometasone">
                    <option value="beclometasone + formoterol">
                    <option value="bedaquiline">
                    <option value="bendamustine">
                    <option value="benzathine benzylpenicillin">
                    <option value="benznidazole">
                    <option value="benzoic acid + salicylic acid">
                    <option value="benzoyl peroxide">
                    <option value="benzyl benzoate">
                    <option value="benzylpenicillin">
                    <option value="betamethasone">
                    <option value="bevacizumab">
                    <option value="bicalutamide">
                    <option value="binimetinib">
                    <option value="biperiden">
                    <option value="bisacodyl">
                    <option value="bisoprolol">
                    <option value="bleomycin">
                    <option value="bortezomib">
                    <option value="bromocriptine">
                    <option value="budesonide">
                    <option value="budesonide + formoterol">
                    <option value="budesonide + salmeterol">
                    <option value="bumetanide">
                    <option value="bupivacaine">
                    <option value="buprenorphine">
                    <option value="bupropion">
                    <option value="c1 esterase inhibitor">
                    <option value="cabergoline">
                    <option value="caffeine citrate">
                    <option value="calamine">
                    <option value="calcipotriol">
                    <option value="calcitriol">
                    <option value="calcium">
                    <option value="calcium folinate">
                    <option value="calcium gluconate">
                    <option value="canagliflozin">
                    <option value="capecitabine">
                    <option value="capreomycin">
                    <option value="captopril">
                    <option value="carbachol">
                    <option value="carbamazepine">
                    <option value="carbetocin">
                    <option value="carbimazole">
                    <option value="carboplatin">
                    <option value="carvedilol">
                    <option value="caspofungin">
                    <option value="cefalexin">
                    <option value="cefazolin">
                    <option value="cefepime">
                    <option value="cefiderocol">
                    <option value="cefixime">
                    <option value="cefotaxime">
                    <option value="ceftaroline">
                    <option value="ceftazidime">
                    <option value="ceftazidime + avibactam">
                    <option value="ceftolozane + tazobactam">
                    <option value="ceftriaxone">
                    <option value="cefuroxime">
                    <option value="certolizumab pegol">
                    <option value="cetirizine">
                    <option value="chlorambucil">
                    <option value="chloramphenicol">
                    <option value="chlorhexidine">
                    <option value="chlorine base compound">
                    <option value="chloroquine">
                    <option value="chlorothiazide">
                    <option value="chloroxylenol">
                    <option value="chlorpromazine">
                    <option value="chlortalidone">
                    <option value="chlortetracycline">
                    <option value="cholera vaccine">
                    <option value="ciclesonide">
                    <option value="ciclosporin">
                    <option value="cimetidine">
                    <option value="ciprofloxacin">
                    <option value="cisplatin">
                    <option value="citalopram">
                    <option value="clarithromycin">
                    <option value="clindamycin">
                    <option value="clofazimine">
                    <option value="clomifene">
                    <option value="clomipramine">
                    <option value="clonazepam">
                    <option value="clopidogrel">
                    <option value="clotrimazole">
                    <option value="cloxacillin">
                    <option value="clozapine">
                    <option value="coagulation factor IX complex">
                    <option value="coagulation factor VIII">
                    <option value="coal tar">
                    <option value="cobicistat + elvitegravir + emtricitabine + tenofovir disoproxil fumarate">
                    <option value="cobicistat + elvitegravir + emtricitabine+ tenofovir alafenamide">
                    <option value="cobimetinib">
                    <option value="codeine">
                    <option value="colchicine">
                    <option value="colecalciferol">
                    <option value="colistin (injection)">
                    <option value="compound sodium lactate solution">
                    <option value="condoms">
                    <option value="copper-containing intrauterine device">
                    <option value="crizotinib">
                    <option value="cyanocobalamin">
                    <option value="cyclizine">
                    <option value="cyclopentolate">
                    <option value="cyclophosphamide">
                    <option value="cycloserine">
                    <option value="cytarabine">
                    <option value="dabigatran">
                    <option value="dabrafenib">
                    <option value="dacarbazine">
                    <option value="daclatasvir">
                    <option value="daclatasvir + sofosbuvir">
                    <option value="dactinomycin">
                    <option value="dalteparin">
                    <option value="dapagliflozin">
                    <option value="dapsone">
                    <option value="daptomycin">
                    <option value="daratumumab">
                    <option value="darbepoetin alfa">
                    <option value="darunavir">
                    <option value="dasabuvir">
                    <option value="dasatinib">
                    <option value="daunorubicin">
                    <option value="deferasirox">
                    <option value="deferoxamine">
                    <option value="delafloxacin">
                    <option value="delamanid">
                    <option value="dengue vaccine">
                    <option value="desmopressin">
                    <option value="dexamethasone">
                    <option value="dextran 40">
                    <option value="dextran 70">
                    <option value="diaphragms">
                    <option value="diazepam">
                    <option value="diazoxide">
                    <option value="didanosine">
                    <option value="diethylcarbamazine">
                    <option value="digitoxin">
                    <option value="digoxin">
                    <option value="dihydroartemisinin + piperaquine phosphate">
                    <option value="dihydroergocryptine mesylate">
                    <option value="diloxanide">
                    <option value="dimercaprol">
                    <option value="diphtheria antitoxin">
                    <option value="diphtheria vaccine">
                    <option value="diphtheria-pertussis-tetanus vaccine">
                    <option value="diphtheria-tetanus vaccine">
                    <option value="docetaxel">
                    <option value="docusate sodium">
                    <option value="dolasetron">
                    <option value="dolutegravir">
                    <option value="dolutegravir + lamivudine + tenofovir">
                    <option value="dopamine">
                    <option value="doxorubicin">
                    <option value="doxycycline">
                    <option value="durvalumab">
                    <option value="edoxaban">
                    <option value="efavirenz">
                    <option value="efavirenz + emtricitabine + tenofovir">
                    <option value="efavirenz + lamivudine + tenofovir">
                    <option value="eflornithine">
                    <option value="elbasvir + grazoprevir">
                    <option value="empagliflozin">
                    <option value="emtricitabine">
                    <option value="emtricitabine + rilpivirine + tenofovir alafenamide">
                    <option value="emtricitabine + rilpivirine + tenofovir disoproxil fumarate">
                    <option value="emtricitabine + tenofovir">
                    <option value="emtricitabine + tenofovir alafenamide">
                    <option value="enalapril">
                    <option value="encorafenib">
                    <option value="enoxaparin">
                    <option value="entecavir">
                    <option value="enzalutamide">
                    <option value="ephedrine">
                    <option value="epinephrine">
                    <option value="epoetin alfa">
                    <option value="epoetin beta">
                    <option value="epoetin theta">
                    <option value="equine rabies immunoglobulin">
                    <option value="eravacycline">
                    <option value="ergocalciferol">
                    <option value="ergometrine">
                    <option value="erlotinib">
                    <option value="erythromycin">
                    <option value="erythropoiesis-stimulating agents">
                    <option value="escitalopram">
                    <option value="estradiol cypionate + medroxyprogesterone acetate">
                    <option value="etanercept">
                    <option value="ethambutol">
                    <option value="ethambutol + isoniazid">
                    <option value="ethambutol + isoniazid + pyrazinamide + rifampicin">
                    <option value="ethambutol + isoniazid + rifampicin">
                    <option value="ethanol">
                    <option value="ether">
                    <option value="ethinylestradiol + etonogestrel">
                    <option value="ethinylestradiol + levonorgestrel">
                    <option value="ethinylestradiol + norethisterone">
                    <option value="ethionamide">
                    <option value="ethosuximide">
                    <option value="etonogestrel-releasing implant">
                    <option value="etoposide">
                    <option value="everolimus">
                    <option value="fentanyl">
                    <option value="ferrous salt">
                    <option value="ferrous salt + folic acid">
                    <option value="fexinidazole">
                    <option value="fexofenadine">
                    <option value="fifth generation cephalosporins">
                    <option value="filgrastim">
                    <option value="fingolimod">
                    <option value="fluconazole">
                    <option value="flucytosine">
                    <option value="fludarabine">
                    <option value="fludrocortisone">
                    <option value="flunisolide">
                    <option value="fluorescein">
                    <option value="fluoride">
                    <option value="fluorouracil">
                    <option value="fluoxetine">
                    <option value="fluphenazine">
                    <option value="flutamide">
                    <option value="fluticasone">
                    <option value="fluticasone + formoterol">
                    <option value="fluticasone furoate + vilanterol">
                    <option value="fluvastatin">
                    <option value="fluvoxamine">
                    <option value="folic acid">
                    <option value="fomepizole">
                    <option value="fosfomycin (injection)">
                    <option value="fourth generation cephalosporins">
                    <option value="fresh-frozen plasma">
                    <option value="fulvestrant">
                    <option value="furosemide">
                    <option value="gabapentin">
                    <option value="gallamine">
                    <option value="gatifloxacin">
                    <option value="gefitinib">
                    <option value="gemcitabine">
                    <option value="gentamicin">
                    <option value="glass ionomer cement">
                    <option value="glatiramer acetate">
                    <option value="glecaprevir + pibrentasvir">
                    <option value="glibenclamide">
                    <option value="gliclazide">
                    <option value="glucagon">
                    <option value="glucose">
                    <option value="glucose + sodium chloride">
                    <option value="glutaral">
                    <option value="glyceryl trinitrate">
                    <option value="glycopyrronium">
                    <option value="golimumab">
                    <option value="goserelin">
                    <option value="granisetron">
                    <option value="griseofulvin">
                    <option value="haemophilus influenzae type b vaccine">
                    <option value="haloperidol">
                    <option value="halothane">
                    <option value="heparin sodium">
                    <option value="hepatitis a vaccine">
                    <option value="hepatitis b vaccine">
                    <option value="homatropine">
                    <option value="hpv vaccine">
                    <option value="hydralazine">
                    <option value="hydrochlorothiazide">
                    <option value="hydrocortisone">
                    <option value="hydromorphone">
                    <option value="hydroxocobalamin">
                    <option value="hydroxycarbamide">
                    <option value="hydroxychloroquine">
                    <option value="hyoscine butylbromide">
                    <option value="hyoscine hydrobromide">
                    <option value="hypochlorous acid">
                    <option value="ibrutinib">
                    <option value="ibuprofen">
                    <option value="idoxuridine">
                    <option value="ifosfamide">
                    <option value="imatinib">
                    <option value="imipenem + cilastatin">
                    <option value="indapamide">
                    <option value="indinavir">
                    <option value="indometacin">
                    <option value="infliximab">
                    <option value="influenza vaccine (seasonal)">
                    <option value="insulin">
                    <option value="insulin analogues">
                    <option value="insulin degludec">
                    <option value="insulin detemir">
                    <option value="insulin glargine">
                    <option value="intermediate-acting insulin">
                    <option value="intraperitoneal dialysis solution">
                    <option value="iodine">
                    <option value="iohexol">
                    <option value="ipecacuanha">
                    <option value="ipratropium bromide">
                    <option value="irinotecan">
                    <option value="isoflurane">
                    <option value="isoniazid">
                    <option value="isoniazid + pyrazinamide + rifampicin">
                    <option value="isoniazid + pyridoxine + sulfamethoxazole + trimethoprim">
                    <option value="isoniazid + rifampicin">
                    <option value="isoniazid + rifapentine">
                    <option value="isoprenaline">
                    <option value="isosorbide dinitrate">
                    <option value="itraconazole">
                    <option value="ivermectin">
                    <option value="japanese encephalitis vaccine">
                    <option value="kanamycin">
                    <option value="kanamycin (injection)">
                    <option value="ketamine">
                    <option value="lactulose">
                    <option value="lamivudine">
                    <option value="lamivudine + nevirapine + zidovudine">
                    <option value="lamivudine + tenofovir">
                    <option value="lamivudine + zidovudine">
                    <option value="lamotrigine">
                    <option value="latanoprost">
                    <option value="ledipasvir + sofosbuvir">
                    <option value="lenalidomide">
                    <option value="leuprorelin">
                    <option value="levamisole">
                    <option value="levodopa">
                    <option value="levodopa + benserazide">
                    <option value="levodopa + carbidopa">
                    <option value="levofloxacin">
                    <option value="levonorgestrel">
                    <option value="levonorgestrel-releasing implant">
                    <option value="levothyroxine">
                    <option value="lidocaine">
                    <option value="lidocaine + epinephrine">
                    <option value="lindane">
                    <option value="linezolid">
                    <option value="lisinopril + amlodipine">
                    <option value="lisinopril + hydrochlorothiazide">
                    <option value="lithium carbonate">
                    <option value="long-acting insulin analogues">
                    <option value="loperamide">
                    <option value="lopinavir + ritonavir">
                    <option value="loratadine">
                    <option value="lorazepam">
                    <option value="losartan">
                    <option value="lovastatin">
                    <option value="lugol's solution">
                    <option value="magnesium sulfate">
                    <option value="mannitol">
                    <option value="measles vaccine">
                    <option value="mebendazole">
                    <option value="medroxyprogesterone acetate">
                    <option value="mefloquine">
                    <option value="meglumine antimoniate">
                    <option value="meglumine iotroxate">
                    <option value="melarsoprol">
                    <option value="melphalan">
                    <option value="meningococcal meningitis vaccine">
                    <option value="mercaptopurine">
                    <option value="meropenem">
                    <option value="meropenem + vaborbactam">
                    <option value="mesalazine">
                    <option value="mesna">
                    <option value="metformin">
                    <option value="methadone">
                    <option value="methimazole">
                    <option value="methionine">
                    <option value="methotrexate">
                    <option value="methoxy polyethylene glycol-epoetin beta">
                    <option value="methyldopa">
                    <option value="methylergometrine">
                    <option value="methylphenidate">
                    <option value="methylprednisolone">
                    <option value="methylthioninium chloride">
                    <option value="metoclopramide">
                    <option value="metoprolol">
                    <option value="metronidazole">
                    <option value="micafungin">
                    <option value="miconazole">
                    <option value="midazolam">
                    <option value="mifepristone - misoprostol">
                    <option value="miltefosine">
                    <option value="misoprostol">
                    <option value="mometasone">
                    <option value="mometasone + formoterol">
                    <option value="morphine">
                    <option value="moxifloxacin">
                    <option value="multiple micronutrient powder">
                    <option value="multiple micronutrient supplement">
                    <option value="mumps vaccine">
                    <option value="mupirocin">
                    <option value="nadroparin">
                    <option value="nalidixic acid">
                    <option value="naloxone">
                    <option value="natamycin">
                    <option value="nelfinavir">
                    <option value="neostigmine">
                    <option value="netilmicin">
                    <option value="nevirapine">
                    <option value="niclosamide">
                    <option value="nicotinamide">
                    <option value="nicotine replacement therapy">
                    <option value="nifedipine">
                    <option value="nifurtimox">
                    <option value="nilotinib">
                    <option value="nilutamide">
                    <option value="nitrofurantoin">
                    <option value="nitrous oxide">
                    <option value="nivolumab">
                    <option value="norethisterone">
                    <option value="norethisterone enantate">
                    <option value="normal immunoglobulin">
                    <option value="nystatin">
                    <option value="ocrelizumab">
                    <option value="ofloxacin">
                    <option value="omadacycline">
                    <option value="ombitasvir + paritaprevir + ritonavir">
                    <option value="omeprazole">
                    <option value="ondansetron">
                    <option value="oral rehydration salts">
                    <option value="oral rehydration salts - zinc sulfate">
                    <option value="oseltamivir">
                    <option value="osimertinib">
                    <option value="oxaliplatin">
                    <option value="oxamniquine">
                    <option value="oxazolindinones">
                    <option value="oxycodone">
                    <option value="oxygen">
                    <option value="oxytetracycline">
                    <option value="oxytocin">
                    <option value="p-aminosalicylic acid">
                    <option value="paclitaxel">
                    <option value="palbociclib">
                    <option value="paliperidone">
                    <option value="palonosetron">
                    <option value="pancreatic enzymes">
                    <option value="paracetamol">
                    <option value="paromomycin">
                    <option value="paroxetine">
                    <option value="pegaspargase">
                    <option value="pegylated interferon alfa (2a)">
                    <option value="pegylated interferon alfa (2b)">
                    <option value="pembrolizumab">
                    <option value="penicillamine">
                    <option value="pentamidine">
                    <option value="permethrin">
                    <option value="pertussis vaccine">
                    <option value="pertuzumab">
                    <option value="phenobarbital">
                    <option value="phenoxymethylpenicillin">
                    <option value="phenylpropanolamine HCl - chlorphenamine maleate - paracetamol">
                    <option value="phenytoin">
                    <option value="phytomenadione">
                    <option value="pilocarpine">
                    <option value="piperacillin + tazobactam">
                    <option value="platelets">
                    <option value="plazomicin">
                    <option value="pneumococcal vaccine">
                    <option value="podophyllotoxin">
                    <option value="podophyllum resin">
                    <option value="poliomyelitis vaccine">
                    <option value="polygeline">
                    <option value="polymyxin B (injection)">
                    <option value="polymyxins">
                    <option value="potassium chloride">
                    <option value="potassium ferric hexacyanoferrate">
                    <option value="potassium iodide">
                    <option value="potassium permanganate">
                    <option value="povidone iodine">
                    <option value="pralidoxime">
                    <option value="pramipexole">
                    <option value="pravastatin">
                    <option value="praziquantel">
                    <option value="precipitated sulfur">
                    <option value="prednisolone">
                    <option value="prednisone">
                    <option value="primaquine">
                    <option value="probenecid">
                    <option value="procainamide">
                    <option value="procaine benzylpenicillin">
                    <option value="procarbazine">
                    <option value="progesterone vaginal ring">
                    <option value="proguanil">
                    <option value="promethazine">
                    <option value="propanol">
                    <option value="propofol">
                    <option value="propranolol">
                    <option value="propylthiouracil">
                    <option value="prostaglandin E1">
                    <option value="prostaglandin E2">
                    <option value="protamine sulfate">
                    <option value="protionamide">
                    <option value="pyrantel">
                    <option value="pyrazinamide">
                    <option value="pyridostigmine">
                    <option value="pyridoxine">
                    <option value="pyrimethamine">
                    <option value="quinidine">
                    <option value="quinine">
                    <option value="rabies vaccine">
                    <option value="raltegravir">
                    <option value="ranibizumab">
                    <option value="ranitidine">
                    <option value="rasburicase">
                    <option value="ready to use therapeutic food">
                    <option value="realgar-indigo naturalis formulation">
                    <option value="red blood cells">
                    <option value="retinol">
                    <option value="ribavirin">
                    <option value="ribociclib">
                    <option value="riboflavin">
                    <option value="rifabutin">
                    <option value="rifampicin">
                    <option value="rifapentine">
                    <option value="risperidone">
                    <option value="ritonavir">
                    <option value="rituximab">
                    <option value="rivaroxaban">
                    <option value="ropinirole">
                    <option value="rotavirus vaccine">
                    <option value="rubella vaccine">
                    <option value="salbutamol">
                    <option value="salicylic acid">
                    <option value="saquinavir">
                    <option value="selenium sulfide">
                    <option value="senna">
                    <option value="sertraline">
                    <option value="silver diamine fluoride">
                    <option value="silver nitrate">
                    <option value="silver sulfadiazine">
                    <option value="simeprevir">
                    <option value="simvastatin">
                    <option value="smallpox vaccine">
                    <option value="snake antivenom">
                    <option value="sodium calcium edetate">
                    <option value="sodium chloride">
                    <option value="sodium hydrogen carbonate">
                    <option value="sodium nitrite">
                    <option value="sodium nitroprusside">
                    <option value="sodium stibogluconate">
                    <option value="sodium thiosulfate">
                    <option value="sofosbuvir">
                    <option value="sofosbuvir + velpatasvir">
                    <option value="sofosbuvir + daclatasvir">
                    <option value="spectinomycin">
                    <option value="spironolactone">
                    <option value="stavudine">
                    <option value="streptokinase">
                    <option value="streptomycin (injection)">
                    <option value="succimer">
                    <option value="sulfacetamide">
                    <option value="sulfadiazine">
                    <option value="sulfadoxine + pyrimethamine">
                    <option value="sulfamethoxazole + trimethoprim">
                    <option value="sulfasalazine">
                    <option value="sumatriptan">
                    <option value="suramin sodium">
                    <option value="surfactant">
                    <option value="suxamethonium">
                    <option value="tacalcitol">
                    <option value="tacrolimus">
                    <option value="tafenoquine">
                    <option value="tamoxifen">
                    <option value="telmisartan + amlodipine">
                    <option value="telmisartan + hydrochlorothiazide">
                    <option value="tenofovir alafenamide">
                    <option value="tenofovir disoproxil fumarate">
                    <option value="terbinafine">
                    <option value="terbutaline">
                    <option value="terizidone">
                    <option value="testosterone">
                    <option value="tetanus antitoxin">
                    <option value="tetanus vaccine">
                    <option value="tetracaine">
                    <option value="tetracycline">
                    <option value="thalidomide">
                    <option value="thiamine">
                    <option value="thiopental">
                    <option value="tick-borne encephalitis vaccine">
                    <option value="tigecycline">
                    <option value="timolol">
                    <option value="tinidazole">
                    <option value="tioguanine">
                    <option value="tiotropium bromide">
                    <option value="tislelizumab">
                    <option value="tobramycin">
                    <option value="tocilizumab">
                    <option value="tolbutamide">
                    <option value="torasemide">
                    <option value="tramadol">
                    <option value="trametinib">
                    <option value="tranexamic acid">
                    <option value="trastuzumab">
                    <option value="trastuzumab emtansine">
                    <option value="triamcinolone acetonide">
                    <option value="triamcinolone hexacetonide">
                    <option value="triclabendazole">
                    <option value="trihexyphenidyl">
                    <option value="trimethoprim">
                    <option value="triptorelin">
                    <option value="tropicamide">
                    <option value="tropisetron">
                    <option value="tuberculin, purified protein derivative">
                    <option value="tubocurarine">
                    <option value="typhoid vaccine">
                    <option value="ulipristal">
                    <option value="umeclidinium">
                    <option value="urea">
                    <option value="valaciclovir">
                    <option value="valganciclovir">
                    <option value="valproic acid (sodium valproate)">
                    <option value="vancomycin">
                    <option value="varenicline">
                    <option value="varicella vaccine">
                    <option value="vecuronium">
                    <option value="vemurafenib">
                    <option value="verapamil">
                    <option value="vinblastine">
                    <option value="vincristine">
                    <option value="vinorelbine">
                    <option value="voriconazole">
                    <option value="warfarin">
                    <option value="water for injection">
                    <option value="whole blood">
                    <option value="xylometazoline">
                    <option value="yellow fever vaccine">
                    <option value="zanubrutinib">
                    <option value="zidovudine">
                    <option value="zinc sulfate">
                    <option value="zoledronic acid">
                </datalist>
            </div>

            <div class="mb-2"><label class="form-label" for="strength">Strength</label>
                <input class="form-control" type="text" id="strength" name="strength" placeholder="Strength (number)">
            </div>
            <p style="color:rgba(63, 63, 65, 0.648)"><em>Hint: '500' for a 500mg tablet etc. For FDCs write for instance
                    '300/100'. '50/300/300' or
                    '275/75/400/150' etc.</em></p>

            <div class="mb-2"><label class="form-label" for="strengthUnit">Unit</label>
                <select class="form-control" id="strengthUnit" name="strengthUnit">
                    <option value="">--Select--</option>
                    <option value="Mcg">Mcg</option>
                    <option value="MG">MG</option>
                    <option value="G">G</option>
                    <option value="%">%</option>
                    <option value="g/ml">g/ml</option>
                    <option value="mg/ml">mg/ml</option>
                    <option value="mg/g">mg/g</option>
                    <option value="IE">IE</option>
                    <option value="IE/g">IE/gram</option>
                </select>
            </div>

            <div class="mb-2">
                <label class="form-label" for="dosageForm" class="form-label">DosageForm</label>
                <input class="form-control" list="dosages" id="dosageForm" name="dosageForm" required
                    placeholder="Type to search...">
                <datalist id="dosages">
                    <option value="Oral - Solid">
                    <option value="Local - Otological">
                    <option value="Parenteral - General injections">
                    <option value="Local - Ophthalmological">
                    <option value="Oral - Other">
                    <option value="Local - Topical">
                    <option value="Oral - Liquid">
                    <option value="Parenteral - Loco regional injections">
                    <option value="Powder for injection - sterile">
                    <option value="Respiratory - Inhalation">
                    <option value="Local - Nasal">
                    <option value="Local - Rectal">
                    <option value="Local - Vaginal">
                    <option value="Implant - Subdermal">
                    <option value="Local - Dental">
                    <option value="Parenteral solution - IV fluid">
                    <option value="Intra uterine system">
                    <option value="Respiratory-Suspension">
                </datalist>
            </div>


            <div class="mb-2"><label class="form-label" for="route">Regulatory Pathway</label>
                <select class="form-control" id="route" name="route">
                    <option value="">--Select--</option>
                    <option value='FULL_CTD'>FULL_CTD</option>
                    <option value='ABBREVIATED'>ABBREVIATED</option>
                    <option value='CRP_WHOPQ'>CRP_WHOPQ</option>
                    <option value='JOINT_MRA'>JOINT_MRA</option>
                </select>
            </div>





            <div class="mb-2">
                <label class="form-label" for="demandAnnual">Projected Annual Demand</label>
                <input class="form-control" type="number" id="demandAnnual" name="demandAnnual"
                    placeholder=" dosage units/year">
            </div>

            <div class="mb-2" style="width:50%">
                <label class="form-label" for="date">EOI Due date</label>
                <input class="form-control" type="date" id="date" name="date" placeholder="...">
            </div>






            <br> <br>
            <button class="btn btn-primary">Submit</button>
        </form>

        <br>
        <hr> <br>
        <a href="/">IRIMS Home</a>
    </div>