<% layout('layouts/boilerplate')%>
    <h3 style="color:rgb(4, 90, 250)"> Clinical Trials Oversight - <strong> (CT)</strong></h3>

    <h4><strong>CT01.10:</strong> There are guidelines on the format and
        content of CT applications.</h4>

    <br>
    <ul>
        <li>The objective of this sub-indicator is to ensure the existence
            of a
            clear guidance document that guides the applicant and sponsor on
            the
            information (i.e., content and format) to
            be included in the application package. The guidance should
            include
            the procedure
            for submitting the application to the NRA for evaluation. The
            content of the guidance document should be sufficient to
            facilitate
            CT activities.</li>
        <li>The assessor should ask for and review:
            1. Evidence that the guidelines on the format and content of the
            CT
            application are available, implemented and
            <strong>published</strong> on the
            <strong>NRAs
                website</strong>.
            2. Evidence that accessory documents such as CT application
            forms
            and other CT related forms exist and are issued and used.
            3. Documentation specifying the format and nature of CT
            application
            submission package (i.e. electronic or face-to-face
            communications,
            hard or soft copies, and number of copies to be submitted).
            4. List of critical documents that should be included in the
            application package.
        </li>
        <li><strong>CT05.02:</strong> The list of the CTs (approved and
            rejected
            applications),
            including summarized evaluation reports by the NRA, are publicly
            available or recorded
            in a domestic or international <strong>database</strong>.</li>
        </li>
        <li>The objective of this sub-indicator is to ensure that approved
            and
            rejected CT applications, as well as summarized CT evaluation
            reports, are listed and <strong>published</strong> in a local or
            international
            <strong>database</strong>.
        </li>
        <li>The assessor should ask for and review:
            1. Regulations and guidelines that require that all approved and
            rejected CT applications, as
            well as summary evaluation reports, should be listed and
            available
            in an easily-accessible
            local or international <strong>database</strong>.
            2. Regulations and guidelines that require that the list of all
            approved and rejected CT
            applications, as well as summary evaluation reports, should be
            updated periodically.
            3. Documentation for the rate (i.e., when and how) at which the
            list
            is updated.
            4. The list of approved and rejected CT applications, as well as
            summary evaluation reports,
            on the local or international <strong>database</strong>. 01 5.
            Guidelines and SOPs
            that provide guidance on the content, format and information
            that
            should be uploaded to the <strong>database</strong>. 02 6.
            Evidence
            that stakeholders
            are aware of the availability of the list, and that they have a
            clear understanding of how and where to access the list and its
            contents.</li>
        <li><strong>CT06.01:</strong> There is an internal list or
            <strong>database</strong> of
            all approved and
            rejected CTs, and the NRA maintains a record of each approved
            and rejected CT.
        </li>
        <li>The objective of this sub-indicator is to ensure that an
            internal
            list or <strong>database</strong> is kept for all approved and
            rejected CT
            applications and that the NRA (or responsible regulatory
            authority)
            maintains a record of all approved and rejected CTs.</li>
        <li>The assessor should ask for and review:
            1. The guidelines requiring the establishment and maintenance of
            a
            register, list or <strong>database</strong> of approved or
            rejected
            CT applications.
            2. The register, list or <strong>database</strong> of all CT
            applications that have
            been approved or rejected, including details of the type of
            information that was entered and kept.
            3. List of persons with the authority to access stored
            information,
            as well as information on the documentation that must be
            completed
            before access is granted.</li>
        <li><strong>CT06.03:</strong> Progress reports from sponsors or CROs
            during and after CTs
            sent to and shared among NRAs and ECs.</li>
        <li>The objective of this sub-indicator is to ensure a progress
            reporting and documentation system is in place to receive, store
            and
            disseminate reports from sponsors or CROs.</li>
        <li>The assessor should ask for and review:
            1. The guidelines that stipulate that feedback reports along the
            entire CT chain should be sent periodically by the sponsor (or
            CRO)
            to the NRAs and ECs and that the NRAs and ECs should document
            receipt of the reports. The content of these reports may differ
            between NRA and ECs.
            2. Guidelines on the content and format for preparing the
            reports,
            as well as on the procedure for submitting the reports.
            3. Documented list of reports received from sponsors or CROs.
            Content and format should be reviewed for compliance with
            guidelines
            4. Examples of reports from sponsors and CROs.
            5. Documentation for the <strong>database</strong> or data
            storage
            facility where the
            reports are stored.</li>
    </ul>
    <hr> <br>
    <a href="/">IRIMS Home</a>
    </div>