<% layout('layouts/boilerplate')%>
    <h3 style="color:rgb(4, 90, 250)">Licensing Establishments - <strong> (LI)</strong></h3>

    <h4>In order to protect public health, licensing activities are of
        outstanding importance and are considered fundamental, together
        with inspections activities, for guaranteeing
        the quality, safety and efficacy of medical products used within
        or
        exported out of the country. </h4>

    <br>
    <ul>
        <li>The National Regulatory Authority
            (NRA) is responsible for coordinating licensing activities and
            should be supported by <strong>published</strong> and
            readily available legal provisions, regulations and guidelines
            which
            ensure that
            licensing of facilities throughout the supply chain is based on
            compliance with Good Practices (GXP) and that the NRA is
            empowered
            to issue, suspend or revoke licenses for premises and
            establishments.</li>
        <li>Premises, facilities, establishments and companies throughout
            the
            supply chain
            should possess a license to operate issued by the NRA. These
            facilities include, but
            are not limited to, manufacturers, distributors, wholesalers,
            importers, exporters and retailers. The process of issuing
            licenses
            should be based on the implementation of and compliance with
            quality
            standards of GXP. An inspection for confirmation of compliance
            with
            GXP is required in order to grant or re-grant a license or
            approval
            of a substantial modification.</li>
        <li>An updated list or <strong>database</strong> of all licensed
            facilities should be
            <strong>published</strong> and publicly available.
        </li>
        <li><strong>LI01.01:</strong>There are legal provisions for
            licensing of
            facilities
            throughout the supply chain and based on Good Practices (GXPs)
            compliance.</li>
        <li>The objective of this sub-indicator is to ensure the existence
            of
            legislation that requires premises, facilities, establishments
            and
            companies throughout the supply chain (including, but not
            limited
            to, manufactures, distributors, wholesalers, importers,
            exporters
            and retailers) hold a license to operate that is issued by the
            National Regulatory Authority (NRA).</li>
        <li>The assessor should ask for and review:
            1. <strong>Published</strong> legal provisions establishing the
            licensing of
            facilities throughout the supply chain;
            2. Relevant public information available from the
            <strong>website</strong>, official bulletins or other legal
            publications;
            3. Legal provisions authorizing the NRA to conduct GXP
            inspections;
            4. Guidelines, procedures, forms, and instructions for
            applicants;
            5. Guidance to applicants defining the circumstances that would
            warrant an application for a new license or for renewal,
            expansion,
            or modification to an existing license.
        </li>

        <li><strong>LI01.02:</strong> There are legal provisions to empower
            the
            NRA to issue,
            suspend or revoke licenses for establishments.</li>
        <li>The objective of this sub-indicator is to ensure that
            legislation
            empowers the NRA to not only issue licenses, but also to suspend
            or
            revoke licenses for establishments.</li>
        <li>The assessor should ask for and review:
            1. Legal provisions authorizing the NRA to suspend or revoke a
            license in case requirements are not met;
            2. Relevant public information available from the
            <strong>website</strong>, official
            bulletins, or other legal publications.
        </li>
        <li>
            <strong>LI05.01:</strong> A <strong>database</strong> is
            established
            and regularly
            updated that
            includes all licensing applications received, approved, refused,
            suspended or withdrawn, along with the
            essential documentation for each application.
        </li>

        <li>
            The objective of this sub-indicator is to ensure consistency and
            traceability of licensing activities through the establishment
            and
            maintenance of a <strong>database</strong> of all the
            applications
            received,
            approved, refused, suspended or withdrawn, along with the
            essential
            documentation for each application.
        </li>
        <li>The assessor should ask for and review:
            1. The NRA internal <strong>database</strong>of the licensing
            applications along
            with the regulatory decisions made for each application (i.e.,
            approved, rejected, denied, withdrawn, cancelled, or suspended).
        </li>
        <li><strong>LI06.01:</strong> An updated list or
            <strong>database</strong> of all
            licensing applications,
            along with the regulatory decision for each, is regularly
            <strong>published</strong>
            and publicly available.
        </li>
        <li>The objective of this sub-indicator is to build confidence and
            accountability of the licensing process via enhanced
            transparency.
        </li>
        <li>The assessor should ask for and review:
            1. <strong>Databases</strong> of establishments licensed by the
            NRA
            containing
            information on licenses that were approved, withdrawn, canceled,
            or
            suspended;
            2. Latest publicly available list of licensed establishments.
        </li>
    </ul>
    <hr> <br>
    <a href="/">IRIMS Home</a>
    </div>