<% layout('layouts/boilerplate')%>
    <h3 style="color:rgb(4, 90, 250)"> NRA Lot Release - <strong> (LR)</strong></h3>

    <h4><strong>LR05.01:</strong> Results of lot release process are
        publicly available. </h4>

    <br>
    <ul>
        <li>The objective of this sub-indicator is to ensure that processes
            and
            procedures for lot release decision-making, as well as the list
            of
            product batches that pass or fail NRA lot release, are
            documented
            and available to the public.
            Transparency enhances public trust, permits the timely
            application
            of corrective measures, prevents public use of unqualified
            products,
            and promotes the timely identification of potential
            vulnerabilities
            due to possible acts of corruption.</li>
        <li>The assessor should ask for and review:
            1. List of product batches that pass or fail NRA lot release;
            2. <strong>Published list</strong> of product
            batches released;
            3. List of product batches released compared with the list of
            product batches failed; 4. Guideline or SOP that defines the
            process
            to publish the list of product batches that passed or failed NRA
            lot
            release.</li>
    </ul>
    <hr> <br>
    <a href="/">IRIMS Home</a>
    </div>