<% layout('layouts/boilerplate')%>
    <h3 style="color:rgb(4, 90, 250)">Laboratory Testing - <strong> (LT)</strong></h3>

    <h4>In order to protect public health, licensing activities are of
        outstanding importance and are considered fundamental, together
        with inspections activities, for guaranteeing
        the quality, safety and efficacy of medical products used within
        or
        exported out of the country. </h4>

    <br>
    <ul>
        <li><strong>LT07.01:</strong> Laboratory testing activities are
            appropriately
            communicated to the public community.</li>
        <li>The objective of this sub- indicator is to ensure transparency
            to
            the pubic community. This transparency will contribute to
            accountability of the NRA and NCL, promote consistency in
            activities
            undertaken, and increase the public trust and confidence in the
            regulatory system.</li>
        <li>The assessor should ask for and review:
            1. Documentation of communication and any outreach to the public
            community regarding laboratory testing activities and findings.
            2. Evidence for public communications from
            <strong>website</strong>
        </li>
        <li><strong>LT08.01:</strong> There is an updated
            <strong>database</strong> of all
            medical products
            batches that have undergone quality testing.
        </li>
        <li>The objective of this sub- indicator is to ensure the
            establishment
            of a <strong>database</strong> (electronic or paper based) of
            all
            medical products
            batches that have undergone quality testing by
            the NCL. This <strong>database</strong> is essential for
            storing,
            consolidating and
            analyzing information for these batches, including test results
            and
            test details (e.g., methods, analysts, reagents, and equipment).
            Thus, tracing of relevant regulatory testing activities and
            decisions for
            the sake of institutional memory is ensured. Furthermore,
            analyses
            of the data would contribute to optimization of regulatory
            performance.</li>
        <li>The assessor should ask for and review:
            1. <strong>Database</strong> (electronic and/or paper based) of
            medical product batches tested for quality by the NCL.</li>
    </ul>
    <hr> <br>
    <a href="/">IRIMS Home</a>
    </div>