<% layout('layouts/boilerplate')%>
    <h3 style="color:rgb(4, 90, 250)">Registration and Marketing
        Authorization - <strong> (MA)</strong></h3>

    <h4><strong>MA05.01:</strong> Web site or other official publication
        with SPC-like
        information is available and regularly updated.</h4>

    <br>
    <ul>
        <li>The objective of this sub-indicator is to ensure the NRA has the
            legal provisions or regulations to generate and publish SPC-like
            information, and to ensure that the practice is implemente</li>
        <li>The assessor should ask for and review:
            1. Evidence that the SPC-like information document is
            <strong>published</strong> , and
            if <strong>published</strong> , that the publication is in the
            appropriate format per
            the <strong>published</strong> guidelines.
            2. Evidence that the <strong>website</strong> is regularly
            updated
            to reflect the
            current situation. The assessor should review the SOP for
            updating
            the <strong>website</strong>.
            3. Evidence that the publications are easily accessible,
            regardless
            of where the information is hosted (i.e., <strong>NRA
                website</strong>, Ministry of
            Health (MoH) website, or another website). If on another
            website,
            the assessor should request SOPs that provide guidance on how to
            remotely upload new information onto the website and to update
            existing information.
        </li>
        <li><strong>MA05.02:</strong> Updated list of all medical products
            granted MA is
            regularly <strong>published</strong> and publicly available.
        </li>
        <li>The objective of this sub-indicator is to ensure that guidelines
            and
            regulations exist to guide and advise the NRA to regularly
            update
            and publish the list of medical products that are registered or
            granted MA
        </li>
        <li>The assessor should consider that existence of the
            <strong>database</strong> of all
            granted MA medical products is not adequate to fulfill this
            requirement (unless the <strong>database</strong> is publicly
            available), since the
            purpose is transparency
        </li>
        <li><strong>MA05.03:</strong> A summary technical evaluation report
            for
            approved
            registration MA applications is <strong>published</strong> and
            available to the
            public.</li>
        <li>The objective of this sub-indicator is to ensure that guidelines
            or
            regulations exist to allow the NRA to publish and make available
            to
            the public the summary technical evaluation reports of approved
            MA
            applications. The NRA should actually publish and make available
            to
            the public the summary technical evaluation reports.</li>
        <li>The assessor should ask for and review:
            1. Procedures in place to support and monitor the generation of
            the
            reports, to ensure that the content and format conforms to the
            approved standards, and to ensure that the reports are regularly
            <strong>published</strong> and made available to the public.
            2. A sample of the report for the purpose of evaluating
            conformance
            to the <strong>published</strong> guidelines and or SOPs. The
            assessor should verify
            that the report is generated, <strong>published</strong> and
            made
            available to the
            public.
            3. The <strong>website</strong> for hosting the reports, and the
            SOPs that provide
            guidance to staff on procedures for uploading new reports and
            updating existing reports.
        </li>
        <li><strong>MA06.01:</strong> There is a <strong>database</strong>
            of
            all product
            applications received,
            approved, rejected, suspended or withdrawn along with their
            supporting documentation.
        </li>
        <li>The objective of this sub-indicator is to ensure that
            regulations or
            guidelines exist to require the NRA to keep and manage a
            <strong>database</strong> of
            the supporting documentation for all medical products
            registration
            or MA applications received, approved, rejected, suspended or
            withdrawn. This <strong>database</strong> should continually be
            kept
            up to date. This
            <strong>database</strong> would significantly contribute to
            consistency in regulatory
            approach and to expansion of institutional memory.
        </li>
        <li>The assessor should ask for and review:
            1. Evidence that a <strong>database</strong> exists for keeping
            an
            up to date list of
            supporting documentation and information (e.g., legal
            information
            and requirements, communications, application files, and bases
            of
            decision) for all medical products registration or MA
            applications
            received, approved, rejected, suspended or withdrawn.
            2. Guidelines and SOPs that define the essential information to
            keep
            in the <strong>database</strong> and the timelines for retaining
            this information.
            3. Evidence that the <strong>database</strong> is up to date and
            current and that it
            is supported by a back- up data base.
            4. Documents defining the authorization needed to access or to
            update the information in the <strong>database</strong>.
            Procedures
            for monitoring,
            maintaining, and updating the <strong>database</strong> should
            also
            be reviewed.
        </li>
    </ul>
    <hr> <br>
    <a href="/">IRIMS Home</a>
    </div>