<% layout('layouts/boilerplate')%>



    <h3 style="color:rgb(4, 90, 250)">Market Surveillance and Control - <strong> (MC)</strong>
    </h3>

    <h4><strong>MC04.07: </strong>Documented and implemented procedures
        and
        mechanisms exist
        to prevent, detect and respond to substandard and or falsified medical products.</h4>

    <br>
    <ul>

        <li>The objective of this sub-indicator is to ensure that well
            established procedures or mechanisms are implemented for the
            prevention, detection, and response to SF medical products.</li>
        <li>The assessor should ask for and review:
            1. SOPs and other mechanisms to prevent, detect and respond to
            SF
            medical products. 2. Example records and documentation of
            prevention, detection and response to SF medical products.</li>
        <li><strong>MC05.01:</strong> <strong>database</strong> exists of
            approved and refused promotional and
            advertising materials along with the supporting documentation.
        </li>
        <li>The objective of this sub-indicator is to ensure that a
            <strong>database</strong> of
            applications for marketing, promotional and advertising
            materials is
            established for storing, consolidating and analyzing relevant
            information. The <strong>database</strong> also serves as a
            basis
            for further follow
            up and enforcement actions. Thus tracing relevant regulatory
            activities and decisions
            for the sake of institutional memory is ensured. Furthermore,
            analyses of the data would contribute to optimization of the
            performance of the regulatory program.
        </li>
        <li>The assessor should ask for and review:
            1. <strong>Database</strong> of applications and supporting
            documentation of
            marketing, promotional and advertising materials.
            2. <strong>Database</strong> of regulatory reviews and
            assessments
            of marketing,
            promotional and advertising materials.</li>
        <li><strong>MC05.02:</strong> <strong>Database</strong> for product
            batches that have undergone
            surveillance along with their relevant testing results and
            regulatory actions is established and
            periodically reviewed.</li>
        <li>The objective of this sub-indicator is to ensure the
            establishment
            of a <strong>Database</strong> of product batches that have been
            included in the
            surveillance program. The <strong>database</strong> should
            store,
            consolidate and
            analyze information from the market surveillance program. Thus
            tracing relevant regulatory activities and decisions for the
            sake of
            institutional memory is ensured. Furthermore, analyses of the
            data
            would contribute to optimization of the performance of the
            regulatory program.</li>
        <li>The assessor should ask for and review:
            1. <strong>Database</strong> of product batches that have been
            included in the market
            surveillance 09 program along with their results and regulatory
            actions, if any.
            2. Updated analyses of the data along with consequent
            optimization,
            if any.</li>
    </ul>
    </ul>
    <hr> <br>
    <a href="/">IRIMS Home</a>
    </div>