<% layout('layouts/boilerplate')%>



    <h3 style="color:rgb(4, 90, 250)">Regulatory Inspection - <strong> (RI)</strong>
    </h3>

    <h4><strong>RS01.06:</strong> Legal provisions and regulations define
        requirements of
        transparency and dissemination of information to the public and
        relevant
        stakeholders.</h4>

    <br>

    <ul>
        <li><strong>RI05.01:</strong> A <strong>database</strong> is
            established
            and regularly
            updated of all
            establishments which may be subject to inspection, along with
            their
            relevant regulatory decisions
            (certifications and/or enforcement activities).</li>
        <li>The objective of this sub-indicator is to ensure consistency and
            traceability of regulatory inspection activities through the
            establishment and maintenance of a
            <strong>database</strong> of all the inspected establishments
            along
            with the
            regulatory decisions associated with each establishment (e.g.,
            certifications and enforcement actions).
        </li>
        <li>The assessor should ask for and review:
            1. <strong>Database</strong> of inspected facilities showing
            inventory of facilities
            along with regulatory decisions.</li>

        <li>
            <strong>RI06.01:</strong> The list of inspectors is publicly
            available and the
            identity of the designated team for each inspection is
            communicated
            to the relevant institutions
            subject to inspections.
        </li>
        <li>The objective of this sub-indicator is to ensure confidence
            building
            and accountability of the licensing structure via enhanced
            transparency, specifically, a mechanism to ensure the list and
            identity of inspectors is publicly available.</li>
        <li>The assessor should ask for and review:
            1. Procedures and processes for publishing the list of
            inspectors.
            2. Documents comparing the current NRA list of inspectors to the
            publicly available list of inspectors.
            3. Procedures and processes for communicating the identity of
            the
            designated team for each inspection to the relevant institution
            subject to inspection.
            4. Examples of inspection notifications, letters of designation
            or
            similar communications using another mechanism.</li>

        <li><strong>RI06.02:</strong> The updated list or
            <strong>database</strong> of all
            inspected facilities
            along their regulatory decisions, actions and enforcement
            activities, is regularly <strong>published</strong>
            and publicly available.
        </li>
        <li>The objective of this sub-indicator is to build confidence and
            accountability of the licensing structure via enhanced
            transparency
            through making the information related to regulatory inspections
            available for the general public.</li>
        <li>The assessor should ask for and review:
            1. Latest publicly available list or <strong>database</strong>
            of
            inspected
            facilities along with their conclusions, regulatory decisions,
            regulatory actions and enforcements.
            2. Earlier publicly available list of inspected facilities.</li>
    </ul>
    </ul>
    <hr> <br>
    <a href="/">IRIMS Home</a>
    </div>