<% layout('layouts/boilerplate')%>



    <h3 style="color:rgb(4, 90, 250)">National Regulatory System - <strong>
            (RS)</strong>
    </h3>

    <h4><strong>RS01.06:</strong> Legal provisions and regulations define
        requirements of
        transparency and dissemination of information to the public and
        relevant
        stakeholders.</h4>

    <br>

    <ul>
        <li>The objective of this sub-indicator is to ensure that legislation,
            regulations and other
            relevant information are publicly available. This public
            availability
            will ensure that those
            governed by the regulations, as well as society in general, can be
            aware
            of the information
            and utilize it as appropriate. In order to perform adequately and in
            a
            timely manner, the 01 NRA should have proper channels of
            communication
            in order to respond to the needs,
            obligations and priorities.</li>
        <li>The assessor should request for and review:
            1. Laws, regulations, other regulatory provisions, methodologies,
            and
            procedures establishing that legislation and regulations are to be
            made
            public.
            2. Public information from <strong>websites</strong> or in official
            bulletins or other
            legal publications.
            3. Evidence for the availability and use of electronic or other
            platforms or means that allow external communications regarding the
            regulations.
            4. Direct forms of dissemination such as letters and emails.
            5. Documentation of feedback after dissemination and publication
            (e.g.,
            acknowledgments of receipt, complaints, or questions).</li>
        <li><strong>RS09.02:</strong> The information on laws, regulations
            guidelines and procedures
            is publicly available and is kept duly updated.</li>
        <li>The objective of this sub-indicator is to ensure that medical
            products
            laws, regulations, guidelines and procedures are available and
            accessible to stakeholders and the general public. Openness and
            transparency are key ingredients for building the accountability and
            trust which are necessary for the functioning of organization and
            for
            good governance.</li>
        <li>The assessor should request for and review:
            1. Publicly available laws, regulations, guidelines and procedures;
            2. Mechanisms in place for information sharing (e.g.,
            <strong>website</strong> or other
            public
            communications); 3. Written procedures describing the process.
        </li>
        <li>
            <strong>RS09.03:</strong> Information on decisions related to
            regulatory activities is available to the public.
        </li>
        <li>
            The objective of this sub-indicator is to ensure that relevant
            documents that support positive or negative NRA decisions are publicly
            available, and that final decisions are communicated to the public.
            Evidence-based decisions and honesty regarding the facts and principles
            considered
            in the regulatory decision-making process greatly enhance public trust.
            A basic component of transparency in the work of NRAs is based on
            whether
            its
            decisions are <strong>published</strong>, and whether the relevant
            information
            is quickly and easily accessible to those regulated and to the general
            public.
            Regulatory decisions
            include approvals or denials; unless prohibited by specific legal
            provisions, decisions to not approve (i.e., denials) should also be
            <strong>published</strong>.
        </li>
        <li>
            The assessor should request for and review:
            1. Provisions or guidelines describing the public communication
            process;
            2. List of publicly-available final decisions and supporting
            documents and reports related to different regulatory processes (e.g.,
            marketing authorizations, clinical trials, inspections, market
            surveillance,
            pharmacovigilance, and licensing);
            3. Relevant documents from <strong>website </strong> or other
            mechanisms used to publish the information.
        </li>
        <li> <strong>RS09.08:</strong> The NRA uses computerized systems to
            process
            information,
            manage records, and analyze data.
        </li>
        <li>The objective of this sub-indicator is to ensure the NRA manages
            computerized systems for information processing, records management,
            and
            data analysis. This sub-indicator measures the NRAs handling of
            automated data management systems, use of safeguards to protect data
            integrity, and development of integrated networks. Under this
            indicator,
            the degree to which these objectives are achieved is also assessed.
            E-governance can play a facilitating role.
        </li>
        <li>The assessor should request for and review:
            1. Evidence for availability of electronic systems and workstations;
            2. Evidence for availability of required software for conducting
            regulatory activities;
            3. List of processes that use computerized systems;
            4. <strong>Databases</strong> in use or under in development within
            the
            NRA;
            5. <strong>Databases</strong> and systems in use that can be
            consulted
            by those regulated
            and the
            general public.</li>
        <li><strong>RS09.09:</strong> The NRA has its own web page with timely
            information that gives
            public access to related legal provisions, guidelines and decisions
        </li>
        <li>The objective of this sub-indicator is to ensure the <strong>NRAs
                website</strong> plays an active role in effective and timely
            communication of information required to be publicized.</li>
        <li>The assessor should request for and review:
            1. <strong>NRA website </strong> and information available on it;
            2. NRA communication policy;
            3. Written documents describing how frequently information provided
            in
            the <strong>website</strong> should be reviewed and updated.</li>
    </ul>
    <hr> <br>
    <a href="/">IRIMS Home</a>
    </div>