<% layout('layouts/boilerplate')%>



    <h3 style="color:rgb(4, 90, 250)">Vigilance - <strong> (Vl)</strong>
    </h3>


    <h4><strong>VL06.01:</strong> Vigilance activities and relevant
        feedback
        are
        appropriately communicated to the public.</h4>

    <br>
    <ul>
        <li>The objective of this sub-indicator is to ensure the
            implementation
            and effectiveness of the overall vigilance system, in
            particular, to
            ensure that the risk management and risk communication plans are
            regularly and systematically implemented (i.e., not on ad hoc
            basis).
        </li>
        <li>The assessor should ask for and review:
            1. Records of communications to the public community (e.g.,
            social
            media, newsletters, and <strong>websites</strong>);
            2. Information bulletins and documentation of public awareness
            sessions and campaigns; 3. <strong>Published</strong> alerts,
            assessments and
            investigation reports.
        </li>
        <li><strong>VL06.02:</strong> Mechanism for regular feedback to all
            stakeholders on
            vigilance events exists and is complemented with a risk
            communication plan.
        </li>
        <li>The objective of this sub-indicator is to ensure the
            implementation
            and effectiveness of the overall vigilance system, particularly
            the
            risk management and risk communication plan
        </li>
        <li>The assessor should ask for and review:
            1. Risk communication plan and procedures for communication with
            different stakeholders involved in the vigilance system.
            2. Examples of shared information among those stakeholders.
            3. Records of communication (e.g., social media, newsletters,
            <strong>websites</strong>, or publications) among the NRA and
            those
            stakeholders.
            4. Records of regular meetings among the vigilance relevant
            stakeholders.
        </li>
    </ul>
    <hr> <br>
    <a href="/">IRIMS Home</a>
    </div>